<!DOCTYPE html>
<html lang="en" ng-app = "app">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!--Load libraries-->
    <link rel = "stylesheet" href = "/bootstrap/dist/css/bootstrap.css">
    <script src = "/jquery/dist/jquery.js"></script>
    <script src = "/bootstrap/dist/js/bootstrap.js"></script>
    <script src = "/angular/angular.min.js"></script>

</head>

<body ng-controller = "Ctrl as viewCtrl">
    <div class="container">
        <h2>Contact Form</h2>
        <form name = "userForm" novalidate ng-submit = "viewCtrl.submitForm()">
            
            <div class = "form-group" ng-class = "{'has-error': userForm.email.$invalid && userForm.email.$dirty, 'has-success': !userForm.email.$invalid && !userForm.email.$dirty}">
            
                <label for="email">Email:</label> 
                <input name ="email" type="email" ng-model="viewCtrl.email" ng-required class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
                <span class="help-block" ng-if="userForm.email.$invalid && userForm.email.$dirty">Please enter a suitable email address :)</span>
            
            </div>

            <div class = "form-group" ng-class = "{'has-error': userForm.password.$invalid && userForm.password.$dirty, 'has-success': !userForm.password.$invalid && !userForm.password.$dirty}">
                
                <label for"password">Password:</label>
                <input name="password" type="password" ng-model = "viewCtrl.password" ng-required class = "form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@#$]).{8,}">
                <p class = "help-block" ng-if = "userForm.password.$invalid && userForm.password.$dirty">Please enter a password with the following characteristics:<br>- At least 8 characters<br>- At least 1 Uppercase and 1 lowercase character<br>- At least 1 number<br>- Includes @, # or $</p>

            </div>

            <div class = "form-group" ng-class = "{'has-error': userForm.name.$invalid && userForm.name.$dirty, 'has-success': !userForm.name.$invalid && !userForm.name.$dirty}">

                <label for="name">Name:</label>
                <input name="name" type="text" ng-model = "viewCtrl.name" ng-required class="form-control" pattern="[\s\S]{2,}">
                <span class = "help-block" ng-if = "userForm.name.$invalid && userForm.name.$dirty">Please enter your name </span>

            </div>

            <div class = "form-group" ng-class = "{'has-error': userForm.gender.$invalid && userForm.gender.$dirty, 'has-success': !userForm.gender.$invalid && !userForm.gender.$dirty}">

                <label for="gender">Gender: </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="viewCtrl.gender" name = "gender" id="inLineRadio1" value="male">
                        Male
                    </label>
                    <label class="radio-inline">
                        <input type="radio" ng-model="viewCtrl.gender" name = "gender" id="inLineRadio2" value="female">
                        Female
                    </label>
                <span class = "help-block" ng-if = "userForm.gender.$invalid && userForm.gender.$dirty">Please enter your gender</span>

            </div>

            <div class = "form-group" ng-class = "{'has-error': userForm.date.$invalid && userForm.date.$dirty, 'has-success': !userForm.date.$invalid && !userForm.date.$dirty}">

                <label for="date">Date of Birth (YYYY-MM-DD):</label>
                <!--cannot use a max for date input. Ideally should be dynamic-->
                <input name="date" type="date" ng-model = "viewCtrl.date" ng-required class="form-control" max = "1999-06-23">
                <span class = "help-block" ng-if = "userForm.date.$invalid && userForm.date.$dirty">Please enter your birthday</span>

            </div>

            <div class = "form-group" ng-class = "{'has-error': userForm.address.$invalid && userForm.address.$dirty, 'has-success': !userForm.address.$invalid && !userForm.address.$dirty}">

                <label for="address">Address:</label>
                <input name="address" type="text" ng-model = "viewCtrl.address" ng-required class="form-control">
                <span class = "help-block" ng-if = "userForm.address.$invalid && userForm.address.$dirty">Please enter your address</span>

            </div>

            <div class = "form-group" ng-class = "{'has-error': userForm.country.$invalid && userForm.country.$dirty, 'has-success': !userForm.country.$invalid && !userForm.country.$dirty}">

                <label for="country">Country:</label>
                <input name="country" type="text" ng-model = "viewCtrl.country" ng-required class="form-control">
                <span class = "help-block" ng-if = "userForm.country.$invalid && userForm.country.$dirty">Please enter your country</span>

            </div>
        
             <div class = "form-group" ng-class = "{'has-error': userForm.number.$invalid && userForm.number.$dirty, 'has-success': !userForm.number.$invalid && !userForm.number.$dirty}">

                <label for="number">Contact Number:</label>
                <input name="number" type="text" ng-model = "viewCtrl.number" ng-required class="form-control" pattern = "[+-\s()\d]{7,}">
                <span class = "help-block" ng-if = "userForm.number.$invalid && userForm.number.$dirty">Please enter your number</span>

            </div>

            <button type="submit" ng-click ="viewCtrl.submitForm" ng-disabled = "userForm.$invalid || !userForm.$dirty" class="btn btn-default" ng-disabled ="myForm.$dirty && myForm.$invalid" || "myForm.$dirty" && "myForm.$invalid">Submit</button>
        
            <button type="reset" ng-click = "viewCtrl.resetForm()" class = "btn btn-default">Reset</button>

        </form>

    </div>

    <script src = "/index.js"></script>
</body>
</html>